.futsals{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin: 20px;
}
.card{
    background-color: rgb(55, 125, 179);
}
.futsal_img{
    height: 300px;
    width: 400px;
    border-radius: 10px;
}
.booknow{
    margin-top: 10px;
}