{% extends 'base.html' %}
{% block title %}
Home
{% endblock title %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center gy-6 d-flex align-items-center">
            <div class="col-lg-9 text-center welcometxt">
                <div class="p-3 mb-2 bg-light text-dark">
                    <h2 class="welcomehead">Welcome to FutBook</h2>
                    <p>Book your futsal ground online now!</p>
                    <a href="/login/"> <button type="button" class="btn btn-dark booknow">Book Now!</button></a>
                </div>
            </div>
        </div>
    </div>
    {% endblock body %}
